---
import Layout from '../layouts/Layout.astro';
import TopChatRow from './TopChatRow.svelte';
---

<Layout title="Welcome to Astro.">
	<div class="container">
		<p class="instructions">
		</p>
		<TopChatRow client:only="svelte" />
	</div>
</Layout>

<style>
</style>

<!--
<h1>Welcome to Astro</h1>
 -->