---
import Layout from '../../layouts/Layout.astro';
import HttpCommon from '../../lib/HttpCommon';

//const json = await HttpCommon.post({}, "/test/get_list");
//console.log(json);
---

<Layout title="Welcome to Astro.">
	<div class="container">
		<h3>test</h3>
		<hr />
		<button id="btn_save" class="btn btn-primary">Save
		</button>
		<hr />
		<button id="btn_login" class="btn btn-primary">Login
		</button>		
	</div>

</Layout>

<style>
</style>
<!-- -->
<script src="./CrudCreate.ts"></script>